:root {
    --cor-de-fundo: #F5F5F5;
    --cor-da-fonte: black;
    --cor-da-borda: #cccccc;
    --cor-do-botao: #00cf5c;
    --cor-do-botao-hover: #009f49;
    --cor-de-fundo-modo-escuro: #090A0A;
    --cor-da-fonte-modo-escuro: white;
    --cor-da-borda-modo-escuro: #333333;
    --cor-hiperlink-modo-escuro: #379eff;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabecalho-logo {
    margin-top: 0;
    display: flex;
    text-align: center;
    flex-direction: row;
}

.cabecalho-logoicone {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.cabecalho-nomesite {
    margin: 0px;
    padding: 14px;
}

body {
    font-family: sans-serif;
    margin: auto;
    margin-top: 0px;
    padding: auto;
    padding-top: 0px;
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-fonte);
    text-align: center; 
}

body.modo-escuro,
body.modo-escuro .container-conversor,
body.modo-escuro .section-resultadoEHistorico,
body.modo-escuro .container-historico,
body.modo-escuro .scroll-historico,
body.modo-escuro .container-resultado,
body.modo-escuro .de-box,
body.modo-escuro .para-box,
body.modo-escuro .section-taxa,
body.modo-escuro .container-taxa{
    background-color: var(--cor-de-fundo-modo-escuro);
    color: var(--cor-da-fonte-modo-escuro);
    border-color: var(--cor-da-borda-modo-escuro);
}

body.modo-escuro .fa-regular {
    color: var(--cor-da-fonte-modo-escuro);
}

body.modo-escuro a {
    color: var(--cor-hiperlink-modo-escuro)
}

body.modo-escuro .valor,
body.modo-escuro .moedaDe,
body.modo-escuro .moedaPara {
    background-color: var(--cor-de-fundo-modo-escuro);
    color: var(--cor-da-fonte-modo-escuro);
    border-color: var(--cor-da-borda-modo-escuro);;
}

h1 {
    color: var(--cor-da-fonte); 
    margin-bottom: 20px;
}

body.modo-escuro h1 {
    background-color: var(--cor-de-fundo-modo-escuro);
    color: var(--cor-da-fonte-modo-escuro);
}

label {
    display: block; 
    margin-top: 10px;
    font-weight: bold;
}


#valor {
    width: 325px;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--cor-da-borda);
    border-radius: 4px;
    box-sizing: border-box; 
}


#moedaDe,
#moedaPara {
    width: 325px;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--cor-da-borda);
    border-radius: 4px;
    box-sizing: border-box;
}

.botao {
    margin: 10px auto;
    display: inline-block;
    background-color: var(--cor-do-botao); 
    color: var(--cor-de-fundo);
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    width: 100px; 
    height: 40px;
    font-size: 20px;
}


.botao:hover {
    background-color: var(--cor-do-botao-hover); 
}
.botao {
    font-size: 0; 
}
.botao i {
    font-size: 20px;
    color: var(--cor-de-fundo); 
}



#ativarModoEscuro {
    background-color: #00000000;
    margin: 10px;
    color: var(--cor-da-fonte);
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    width: 50px; 
    height: 50px;
    font-size: 50px;
}

.scroll-historico {
    height: 30vh;
    max-height: 30vh; 
    overflow-y: auto; 
    border: 1px solid #ccc;
}


#erro{
    text-align: center;
}
#conversaoDe{
    text-align: center;
}
#conversaoDoValorDe{
    text-align: center;
}
#conversaoPara{
    text-align: center;
}
#conversaoDoValorPara{
    text-align: center;
}
#conversaoDataDeCotacao{
    text-align: center;
}
#taxaDe{
    text-align: center;
}
#taxaPara{
    text-align: center;
}

#taxa
{
    width: 325px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}


h3 {
    margin-top: 20px;
    color: black;
}


#erro {
    color: red;
    font-weight: bold;
}

#resultado {
    width: 325px;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
}

.container-conversor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.section-resultadoEHistorico {
    background-color: var(--cor-de-fundo);
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--cor-da-borda); 
    border-radius: 4px; 
}

.container-resultado {
    width: 100%;
}

.container-conversor label,
.container-conversor input,
.container-conversor select,
.container-conversor button {
    margin-right: 10px;
    margin-bottom: 10px;
    flex: 1;
}

.caixa-cinza img {
    margin-bottom: 10px;
}

.caixa-cinza select {
    flex-basis: 150px;
}

.text{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    background-color: white;
    border: none;
}
.texto-01{
    align-items: left;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    background-color: white;
    border: none;
}
footer {
    height: 150px;
    margin: auto;
    font-size: 0.75em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgray;
}

body.modo-escuro footer {
    background-color: var(--cor-da-borda-modo-escuro);
}

.rodape-texto {
    padding: 20px 0px 20px 20px;
    text-align: start;
}

.rodape-info {
    padding: 20px 20px 20px 0px;
    text-align: end;
}



.de-box, .para-box {
    width: 40%;
    background-color: white;
    height: 80px;
    margin: 1px;
    border: 1px solid var(--cor-da-borda);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.de-box {
    align-items: flex-start;
}

.para-box {
    align-items: flex-end;
}



.section-taxa {
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}

.container-apenasResultado {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#copiarConversao {
    position: relative;
    left: 43%;
}

@media (max-width: 768px) {
    h1 {
        text-align: center;
    }

    .container-conversor {
        flex-direction: column;
        align-items: middle;
    }

    .section-resultadoEHistorico {
        flex-direction: column;
    }

    .container-apenasResultado {
        flex-direction: column;
        align-items: center;
    }
    
    .de-box, .para-box {
        height: 120px;
        width: 90%;
        align-items: center;
        margin: 3px;
    }


    #copiarConversao {
        position: relative;
        left: 0;
    }
}